/* MAIN SETTINGS */

* {
  margin-top: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: "Permanent Marker", cursive;
  background-color: #f0e8d5;
  color: #142f5c;
}

/* NAV-BAR */

#company-logo {
  position: fixed;
  margin-top: 0;
  border-radius: 50%;
  top: 0;
  left: 1%;
  height: 7rem;
  width: 7rem;
  border: solid #142f5c;
}

nav ul {
  background-color: #142f5c;
  color: #e6dcc5;
}

li {
  list-style: none;
}

nav ul li {
  display: inline-block;
  justify-content: right;
  width: 24%;
  padding: 2.5rem;
  list-style: none;
  text-align: right;
}

/* HEADER */

#default-header {
  display: flex;
  justify-content: center;
}

h1 {
  animation: effect linear 1.2s;
  font-size: 1.4rem;
  color: #142f5c;
}

/* FOOTER */

footer {
  background-color: #142f5c;
  color: #e6dcc5;
}

#footer-div {
  display: flex;
  justify-content: center;
  text-align: justify;
}

#default-footer {
  padding: 2rem;
}

#back-to-top {
  padding: 1rem;
  text-align: center;
  background-color: #102547;
}

footer ul li {
  display: inline;
  width: 33%;
  padding: 1rem;
  list-style: none;
  text-align: center;
}

/* LINKS */

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

#nav-bar li a,
#default-footer li a {
  position: relative;
  text-decoration: none;
  color: #e6dcc5;
}

#nav-bar li a:hover,
#default-footer li a:hover {
  color: #e6dcc5;
}

#nav-bar li a::before,
#default-footer li a:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 1%;
  left: 0;
  content: "";
  transform: scaleX(0);
  transition: transform 0.3s ease;
  background-color: #e6dcc5;
}

#nav-bar li a:hover::before,
#default-footer li a:hover::before {
  transform: scaleX(1);
}

/* HOME PAGE ANIMATIONS */

@keyframes effect {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.3, 0.6);
  }

  50% {
    transform: scale(1.1, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

.zoom-box {
  transition: transform 0.3s;
}

.zoom-box:hover {
  transform: scale(1.2);
}

#index-list {
  display: inline-block;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 5rem;
  border-radius: 2%;
  width: 25%;
  font-size: 1.3rem;
  text-align: center;
  background-color: #142f5c;
  color: #e6dcc5;
}

/* DEFAULT IMAGE SETTINGS */

img {
  margin-top: 2em;
  margin-bottom: 1em;
  border-radius: 5%;
  height: 16rem;
  width: 18rem;
  object-fit: cover;
}

/* DEFAULT BUTTON / FORM SETTINGS */

button,
form input {
  border: transparent;
  border-radius: 0.5em;
  padding: 0.5rem;
  background: #e6dcc5;
  color: #142f5c;
}

button:active,
#adventure-button input:active {
  box-shadow: 0 0.5em;
  transform: translateY(4px);
}

/* SHOW PAGE SETTINGS */

#show-image-div {
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 4rem;
  line-height: 0.8rem;
  text-align: left;
}

#show-page-image {
  margin-top: 3em;
  margin-bottom: 1em;
  border-radius: 5%;
  height: 24rem;
  width: 24rem;
  object-fit: cover;
}

#show-page-div,
#about-page-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#product-description,
#intro-div {
  margin-top: 4%;
  height: 29rem;
  width: 29rem;
  text-align: justify;
  line-height: 3.5rem;
}

#show-page-button {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

/* ABOUT PAGE SETTINGS */

#about-page-button {
  display: flex;
  justify-content: center;
}

#about-page-button {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

/* CREATE NEW ADVENTURE PAGE */

#new-page-div {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5em;
  padding: 2rem;
}

#adventure-button {
  display: flex;
  justify-content: center;
  margin-left: 3%;
}

#adventure-button input {
  margin-top: 3rem;
  border: transparent;
  border-radius: 0.5em;
  background: #142f5c;
  color: #e6dcc5;
}

#description-div {
  display: flex;
  justify-content: center;
  border-top: 5%;
  margin-top: 3rem;
}

#description-div textarea {
  border: transparent;
  border-radius: 0.5em;
  margin-right: 6.5%;
  padding: 0.5rem;
  height: 10rem;
  width: 20rem;
  background: #e6dcc5;
  color: #142f5c;
}

/* ABOUT PAGE SETTINGS*/

#about-image-div {
  display: inline-block;
}

#about-page-image {
  margin-right: 10%;
  height: 70%;
  width: 40rem;
  box-shadow: 3rem darkblue;
}

/* CONTACT-PAGE SETTINGS */

#contact-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 12%;
  text-align: center;
  line-height: 3rem;
}

#contact-info {
  margin-top: 4%;
}

#fb-logo {
  border-radius: 3rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
}

#ig-logo,
#t-logo {
  border-radius: 3rem;
  height: 4.7rem;
  width: 4.7rem;
  padding: 1rem;
}

#contact-bg {
  position: absolute;
  top: 44vh;
  left: 50vw;
  width: fit-content;
  height: 39rem;
  transform: translate(-50%, -50%);
  z-index: -1;
}
